@import '../node_modules/mini.css/dist/mini-default.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  background-color: rgb(181, 229, 255);
  color: black;
}

.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  border-radius: 5%;
  background-color: white;
}
.navbar a:hover {
  color: #f1356d;
}

.styleCardText{
  text-align: center;
  padding-top: 10px;
  padding-right: 50px;
}

.card-button{
  background-color: rgb(255, 69, 69);
  color: white;
}

.styleCard {
  display: flex;
  width: 99%;
  justify-content: space-between;
  background-color: #e5f5ff;
  border-radius: 8px;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.styleCardTitle {
  font-weight: 600;
  margin-top: 12px ;
  padding-bottom: 5px;
}
